{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}

<form hx-get="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
 
    <div class="modal-header">
        <h5 class="modal-title">Cash</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
        <div class="modal-body">
        
                <label for="cash" class="sr-only">R$</label>
                <input type="text" class="form-control" id="cash" name="name" placeholder=''>
            
               


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancel
        </button>

        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% endwith %}